<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<title><%= title %></title>
<meta name="description" content= "<%= config.description %>" />
<link rel="shortcut icon" href="images/favicon.ico" />


<!-- Open Graph data -->
<meta property="og:title" content= "<%= config.title %>" />
<meta property="og:type" content="website"/>
<meta property="og:url" content= "<%= config.url %>" />
<meta property="og:image" content="<%= config.url %>/images/video-favicon.png"/>
<meta property="og:image:width" content="260"/>
<meta property="og:image:height" content="260"/>
<meta property="og:site_name" content= "<%= config.title %>" />
<meta property="og:description" content= "<%= config.description %>" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content= "<%= config.title %>" >
<meta name="twitter:description" content= "<%= config.description %>" >
<meta name="twitter:image" content="<%= config.url %>/images/video-favicon.png">
<meta name="twitter:image:src" content="images/video-favicon.png">
<meta name="twitter:url" content= "<%= config.url %>" >

  <!-- Bootstrap core CSS -->
  <link href="/plugin/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/stylesheets/style.css" rel="stylesheet">

  <link href="/plugin/fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">

  <!-- font-family: 'Hind', sans-serif; -->
 <link href='https://fonts.googleapis.com/css?family=Hind:400,300,500,600,700|Hind+Guntur:300,400,500,700' rel='stylesheet' type='text/css'>

</head>
